# Project information
site_name: RingCentral Automator
site_url: https://github.com/ringcentral/ringcentral-automator-docs

# Repository
#repo_url: https://github.com/ringcentral/ringcentral-automator-docs
#repo_name: ringcentral/ringcentral-automator-docs
#edit_uri: tree/main/docs
docs_dir: docs

theme:
  name: material
  custom_dir: overrides
  features:
      - navigation.path
#      - navigation.sections
      - search.sharing
      - search.highlight
  palette:
    - scheme: default
      primary: custom
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ringcentral
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ringcentraldevs
extra_css:
  - extra.css

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - exclude:
      regex:
        - '^#.*'
        - 'inc/templates.md'


markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - mdx_include
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
       emoji_index: !!python/name:material.extensions.emoji.twemoji 
       emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: "2023 RingCentral, Inc. All rights reserved."

nav:
- 'Home': index.md
- 'User Guide': user-guide.md
- 'Admin Guide': admin-guide.md
- 'Workflow templates':
  - 'Overview': workflow-templates/index.md
  - 'After-hours auto-reply': workflow-templates/after-hours.md
  - 'Keyword-based auto-reply': workflow-templates/keywords.md
  - 'Missed call auto-reply': workflow-templates/missed-call.md
  - 'Out-of-office auto-reply': workflow-templates/ooo-autoreplies.md
  - 'SMS help request': workflow-templates/help-request.md
  - 'Voicemail auto-reponse': workflow-templates/voicemail-autoresponse.md
  - 'Voicemail notification': workflow-templates/voicemail-notification.md
- 'Custom workflows':
  - 'Overview': custom-workflows/index.md
  - 'Flow control': custom-workflows/conditionals.md
  - 'Variables': custom-workflows/variables.md
  - 'Triggers': 
    - 'Overview': custom-workflows/triggers/index.md
    - 'Call ended': custom-workflows/triggers/call-ended.md
    - 'Call missed': custom-workflows/triggers/call-missed.md
    - 'Call received': custom-workflows/triggers/call-received.md
    - 'Chat message received': custom-workflows/triggers/chat-message-received.md
    - 'SMS received': custom-workflows/triggers/sms-received.md
    - 'Voicemail received': custom-workflows/triggers/voicemail-received.md
  - 'Actions':
    - 'Overview': custom-workflows/actions/index.md
    - 'Comment': custom-workflows/actions/comment.md
    - 'Create personal contact': custom-workflows/actions/create-contact.md
    - 'Create meeting bridge': custom-workflows/actions/create-meeting.md
    - 'Exit': custom-workflows/actions/exit.md
    - 'Lookup contact': custom-workflows/actions/lookup-contact.md
    - 'Place call': custom-workflows/actions/ringout.md
    - 'Send chat message': custom-workflows/actions/send-chat-message.md
    - 'Send SMS': custom-workflows/actions/send-sms.md
    - 'Send HTTP request': custom-workflows/actions/http-request.md
    - 'Transcribe media file': custom-workflows/actions/transcribe.md
- 'Recipes':
    - 'Overview': recipes/index.md
    - 'Missed call auto-response': recipes/missed-call.md
    - 'Non-user extension automations': recipes/extensions.md
    - 'Send auto-reply only once': recipes/autoreply-only-once.md
    - 'SMS opt-in/out auto-reply': recipes/sms-optout-autoreply.md
    - 'Team Messaging OOO auto-reply': recipes/chat-ooo-autoreply.md
    - 'Triggering from IVR menus': recipes/ivr-menus.md
    - 'Unavailable auto-response': recipes/unavailable.md
    - 'Voicemail auto-response': recipes/voicemail-autoresponse.md
    - "We don't accept SMS auto-reponse": recipes/we-dont-accept-sms.md
- 'Support and troubleshooting': https://community.ringcentral.com/groups/workflow-builder-23
- 'About': about.md


