# Project information
site_name: Workflow Builder
site_url: https://ringcentral.github.io/ringcentral-automator-docs

# Repository
#repo_url: https://github.com/ringcentral/ringcentral-automator-docs
#repo_name: ringcentral/ringcentral-automator-docs
#edit_uri: tree/main/docs
docs_dir: docs

theme:
  name: material
  custom_dir: overrides
  logo: img/RingCentral_logo_color.png
  font:
    code: Roboto Mono
    text: Inter Tight
  features:
      - navigation.path
      - navigation.sections
      - navigation.expand
      - navigation.tabs
      - search.sharing
      - search.highlight
  palette:
    - scheme: default
      primary: custom
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ringcentral
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ringcentraldevs
extra_css:
  - extra.css

plugins:
  - privacy
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - exclude:
      regex:
        - '^#.*'
        - 'inc/templates.md'


markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - mdx_include
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
       emoji_index: !!python/name:material.extensions.emoji.twemoji 
       emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: "2023 RingCentral, Inc. All rights reserved."

nav:
- 'Home': index.md
- 'User Guide':
  - 'Getting started': users/index.md
  - 'Importing/exporting workflows': users/import-export.md
  - 'Customizing templates': users/customization.md
  - 'Limiting workflow frequencies': users/frequency.md
  - 'Enabling/disabling': users/enablement.md
  - 'Histories': users/history.md
  - 'Simulation': users/simulation.md
  - 'Variables and text substitution': users/text-substitution.md
  - 'Custom workflows': workflows/custom/index.md
- 'Admin Guide':
  - 'Becoming an admin': admin/index.md
  - 'Managing user workflows': admin/manage.md
  - 'Non-user workflows': admin/non-users.md
  - 'Copying workflows': admin/copying.md
  - 'Managing workflow runners': admin/runners.md
- 'Templates & Recipes':
  - 'Overview': workflows/index.md
  - 'Templates': 
    - 'After-hours auto-reply': workflows/templates/after-hours.md
    - 'Keyword-based auto-reply': workflows/templates/keywords.md
    - 'Out-of-office auto-reply': workflows/templates/ooo-autoreplies.md
    - 'SMS help request': workflows/templates/help-request.md
    - 'Voicemail auto-reponse': workflows/templates/voicemail-autoresponse.md
    - 'Voicemail notification': workflows/templates/voicemail-notification.md
  - 'Recipes':
    - 'Missed call auto-response': workflows/recipes/missed-call.md
    - 'Non-user extension automations': workflows/recipes/extensions.md
    - 'Send auto-reply only once': workflows/recipes/autoreply-only-once.md
    - 'SMS opt-in/out auto-reply': workflows/recipes/sms-optout-autoreply.md
    - 'Team Messaging OOO auto-reply': workflows/recipes/chat-ooo-autoreply.md
    - 'Triggering from IVR menus': workflows/recipes/ivr-menus.md
    - 'Unavailable auto-response': workflows/recipes/unavailable.md
    - 'Voicemail auto-response': workflows/recipes/voicemail-autoresponse.md
    - "We don't accept SMS auto-reponse": workflows/recipes/we-dont-accept-sms.md
- 'Reference':
  - 'Triggers': workflows/custom/triggers/index.md
  - 'Actions': workflows/custom/actions/index.md
  - 'Flow control': workflows/custom/conditionals.md
  - 'Variables': workflows/custom/variables.md
  - 'Triggers': 
    - 'Call ended': workflows/custom/triggers/call-ended.md
    - 'Call missed': workflows/custom/triggers/call-missed.md
    - 'Call received': workflows/custom/triggers/call-received.md
    - 'Chat message received': workflows/custom/triggers/chat-message-received.md
    - 'SMS received': workflows/custom/triggers/sms-received.md
    - 'Voicemail received': workflows/custom/triggers/voicemail-received.md
  - 'Actions':
    - 'Comment': workflows/custom/actions/comment.md
    - 'Create personal contact': workflows/custom/actions/create-contact.md
    - 'Create meeting bridge': workflows/custom/actions/create-meeting.md
    - 'Exit': workflows/custom/actions/exit.md
    - 'Lookup contact': workflows/custom/actions/lookup-contact.md
    - 'Place call': workflows/custom/actions/ringout.md
    - 'Send chat message': workflows/custom/actions/send-chat-message.md
    - 'Send SMS': workflows/custom/actions/send-sms.md
    - 'Send HTTP request': workflows/custom/actions/http-request.md
    - 'Transcribe media file': workflows/custom/actions/transcribe.md
- 'Support': https://community.ringcentral.com/groups/workflow-builder-23


